
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutSGPI";
}

<div class="container">
    <div class="cuacenterL">
        <div>
            <img class="usu" src="~/img/usu.png" />
        </div>
        <div class="formL">
            <label for="usuario">Usuario</label>
        </div>
        <div class="formL">
            <input type="text" name="usuario" />
        </div>
        <div class="formL">
            <label for="pass">Contraseña</label>
        </div>
        <div class="formL">
            <input type="password" name="pass" />            
        </div>
        <div class="formL">
            <a href="/Administrador/OlvidarContrasena">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="formL">
            <button class="btnLogin">Ingresar</button>
        </div>
    </div>
</div>